.navigationItem{
    padding-top: 5px;
    text-align: center;
    height: 40px;
    cursor: pointer;
    opacity: 0.59;
    margin:0 6px 3px 0;
    border-left: 6px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.selected{

}

.navigationItem:hover,
.selected {
    opacity: 0.99;
    border-left-color: rgba(0, 0, 0, 0.8);
}
